<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="scala.application">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ScalaTutorial/src/com/github/jefersonm/sandbox/scala/scalatutorial/lesson3/ScalaClasses.scala"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.github.jefersonm.sandbox.scala.scalatutorial.lesson3.ScalaClassTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ScalaTutorial"/>
</launchConfiguration>
